---
pagination:
  data: redirects
  size: 1
  alias: oldId
permalink: "/flysteder/{{ oldId }}/"
eleventyExcludeFromCollections: true
---
{#- Flysteder som har fått nytt navn. Gamle lenker og bokmerker sendes videre til den nye adressen. -#}
{%- set target = "/flysteder/" + redirects[oldId] + "/" -%}
<!doctype html>
<html lang="nb">
<head>
<meta charset="utf-8">
<meta name="robots" content="noindex">
<meta http-equiv="refresh" content="0; url={{ target }}">
<link rel="canonical" href="{{ target }}">
<title>Flyttet</title>
</head>
<body>
<p>Siden er flyttet til <a href="{{ target }}">{{ target }}</a>.</p>
</body>
</html>
