---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for p in collections.all %}{% if not p.data.noindex and p.url and p.url.endsWith("/") %}
  <url>
    <loc>{{ p.url | htmlBaseUrl(site.url) }}</loc>
    {%- if p.data.derived and p.data.derived.lastModified %}
    <lastmod>{{ p.data.derived.lastModified.date }}</lastmod>
    {%- endif %}
  </url>
{%- endif %}{% endfor %}
</urlset>
